.header {
  border-bottom: 1px solid #000;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1em 1.25em;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.img {
  width: 100%;
}

.img-container {
  width: 40px;
  height: auto;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.product-card-container {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background-color: rgb(242, 229, 203);
}

.product-card-img {
  max-width: 200px;
}

.product-price {
  margin: 10px 0;
}

.add-to-cart-btn {
  width: 100%;
  background-color: #084597;
  border: 1px solid #084597;
  color: #ffffff;
  padding: 1em;
}

.add-to-cart-btn:hover,
.add-to-cart-btn:focus {
  opacity: 0.8;
}

.cart-link-container {
  display: inline-block;
  position: relative;
}

.total-cart-items {
  text-decoration: none;
  color: #fff;
  background-color: #084597;
  text-align: center;
  position: absolute;
  padding: 5px 8px;
  border-radius: 50%;
  bottom: -12px;
  right: -5px;
}

/* cart styling */

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 1rem;
}

th {
  text-align: left;
  border-bottom: 1px solid #000;
  text-transform: uppercase;
  font-weight: 700;
  /*background: #4545;*/
}

td {
  vertical-align: middle;
}
